<main class="employment-detail__container">
  <section class="employment-detail__header">
    <div class="main-info">
      <img src="https://picsum.photos/100" alt="logo" />
      <div class="employment-card__info">
        <h3 class="title">Backend Developer</h3>
        <span class="subtitle">Globant</span>
        <span class="modality">
          <mat-icon fontIcon="work_outline"></mat-icon>
          Fulltime - Remoto
        </span>
        <span class="location">
          <mat-icon fontIcon="location_on"></mat-icon>
          Lima, Perú
        </span>
      </div>
    </div>
    <div class="main-info-footer">
      <span class="post-date">Publicado al 24/06/2024 </span>
      <button mat-flat-button>Ir a la oferta</button>
    </div>
  </section>
  <mat-divider></mat-divider>
  <section class="employment-detailt__body">
    <div class="ad-ribbon">
      <b>ANUNCIO</b>
    </div>
  </section>
</main>
