<form class="filters-form">
  <mat-form-field class="employee-field" appearance="outline">
    <mat-icon matIconPrefix>search</mat-icon>
    <input
      type="text"
      placeholder="Buscar empleo..."
      aria-label="employee"
      matInput
      [formControl]="myControl"
      [matAutocomplete]="auto"
    />
    <mat-autocomplete #auto="matAutocomplete">
      @for (option of filteredOptions | async; track option) {
      <mat-option [value]="option">{{ option }}</mat-option>
      }
    </mat-autocomplete>
  </mat-form-field>
  <hr class="vertical-divider" />
  <mat-form-field class="location-field" appearance="outline">
    <mat-icon matIconPrefix>location_on</mat-icon>
    <input
      type="text"
      placeholder="Lugar"
      aria-label="location"
      matInput
      [formControl]="myControl"
      [matAutocomplete]="auto"
    />
    <mat-autocomplete #auto="matAutocomplete">
      @for (option of filteredOptions | async; track option) {
      <mat-option [value]="option">{{ option }}</mat-option>
      }
    </mat-autocomplete>
  </mat-form-field>
  <button mat-flat-button>Buscar</button>
</form>
