<form class="filters-form">
  <mat-form-field class="employee-field" appearance="outline">
    <mat-icon matIconPrefix>search</mat-icon>
    <input
      type="text"
      placeholder="Buscar empleo..."
      aria-label="employee"
      matInput
      [formControl]="jobControl"
      [matAutocomplete]="jobauto"
    />
    <mat-autocomplete #jobauto="matAutocomplete">
      @for (jobs of filteredJobs | async; track jobs) {
      <mat-option [value]="jobs.label">{{ jobs.label }}</mat-option>
      }
    </mat-autocomplete>
  </mat-form-field>
  <hr class="vertical-divider" />
  <mat-form-field class="location-field" appearance="outline">
    <mat-icon matIconPrefix>location_on</mat-icon>
    <input
      type="text"
      placeholder="Lugar"
      aria-label="location"
      matInput
      [formControl]="locationControl"
      [matAutocomplete]="locationauto"
    />
    <mat-autocomplete #locationauto="matAutocomplete">
      @for (location of filteredLocations | async; track location) {
      <mat-option [value]="location.label">{{ location.label }}</mat-option>
      }
    </mat-autocomplete>
  </mat-form-field>
  <button mat-flat-button>Buscar</button>
</form>
